/node_modules/
CypressAutomation/node_modules
*.lock
!yarn.lock
!composer.lock

/cypress.env.json
CypressAutomation/cypress.env.json
cypress/screenshots
cypress/videos


###> VScode settings
.vscode
###< VScode settings


###< JetBrains ###
.idea
###> JetBrains ###
###> storage ###
/storage/tmp
!/storage/tmp/.gitkeep
###< storage ###

###> MacOS system files
.DS_Store
###< MacOS system files